.text-message-node{
	display: flex;
	flex-direction: column;
	width: 20rem;
	box-shadow: 0 3px 10px rgb(0, 0, 0, 0.4);
	border-radius: 6px;
	overflow: hidden;
}

.node-title, .text-message-node p{
	padding: 0.5rem;
}

.react-flow__handle { 
	--size: 0.25rem;
	border-radius: 0;
	border: 0;
	background-color: #525252;
	padding: var(--size);
	border-radius: 5rem;
}

.message-body{
	white-space: pre-line;
	word-wrap: break-word;
	height: 100%;
	max-width: 20rem;
}

.node-title{
	display: flex;
	flex-direction: row;
	background-color: #b1f4e4;
	font-weight: bold;
}

.node-title .icon{
	width: 1.5rem;
	height: 1.5rem;
	margin-bottom: 0;
}

.node-title .icon:first-child{
	transform: scale(0.8, 0.8);
}

.node-title .icon img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.node-title div:nth-child(2) {
	display: flex;
	align-items: center;
	margin-left: 1rem;
	width: calc(100% - 4rem);
	white-space: pre;
}

